<div class="header">
  <img class="background" src="assets/images/header.jpg">
  <div class="title">
    <div class="container">
      <div class="row">
        <div class="logo col-md-6">
          <img src="assets/images/logo.png">
          <h2>International <br/> Carwash <br/> Association®</h2>
        </div>
        <div class="col-md-6">
          <!-- <p>{{vm.$state.current.name}}</p> -->
          <h1 ng-show="vm.$state.current.name == 'portal'">Vehicle <br/> Manufacturer's <br/> Portal</h1>
          <h1 ng-show="vm.$state.current.name != 'portal'">Car Wash<br/> Technology Preparation</h1>
        </div>
      </div>
    </div>
  </div>
</div>