.pg-portal {
	.model-format {
		padding: 20px 0;
		background: $blue-color;
		.lb-selector {
			color: white;
			margin: 10px;
		}
		select{
			color: $blue-color;
		}
	}
	.form-group {
		margin: 0;
	}
	.tb-portal {
		border: 1px solid white;
		.td-title {
			text-align: center;
			padding: 10px 0;
			background: $dark-blue;
			color: white;
			p {
				margin: 0;
			}
			.container {
				display: flex;
				justify-content: space-between;
				.title-sysname {	
					width: 15%;
				}
				.title-descr {
					width: 30%;
				}
				.title-img {
					width: 25%;
				}
				.title-video {
					width: 25%;
				}
			}
		}
		.td-content {
			background: $light-grey;
			padding: 10px 0;
			.model {
				margin: 5px 0;
				.model-display {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					.partial-sysname {
						background: white;
						width: 15%;
					}
					.partial-descr {
						background: white;
						width: 30%;
					}
					.partial-img {
						background: white;
						width: 25%;
					}
					.partial-video {
						background: white;
						width: 25%;
					}
				}
				.td {
					padding: 5px;
					color: orange;
					min-height: 100px;
					display: flex;
					align-items: center;
					height: 100%;
					justify-content: center;
					&.section-video {
						flex-direction: column;
						// .video-player {
							iframe {
								width: 100%;
								height: 200px;
							}
						// }
						.edit-video {
							display: flex;
							align-items: center;
						}
					}
					img {
						&.photo {
							width: 100%;
							margin-bottom: 5px;
						}
						&.icon-video {
							margin-left: 10px;
							width: 80px;
						}
					}
					.img-section {
						text-align: center;
					}
					.editable {
						color: $blue-color;
						font-style: normal !important;
						pre {
							color: $blue-color;
							margin: 0;
							background: none;
							border: none;
							white-space: pre-wrap;       /* Since CSS 2.1 */
						    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
						    white-space: -pre-wrap;      /* Opera 4-6 */
						    white-space: -o-pre-wrap;    /* Opera 7 */
						    word-wrap: break-word; 
						}
					}
				}	
			}
			
		}	
	}
	
	.portal-footer {
		background: $light-grey;
	}
}