<div class="page-content pg-portal pg-main">
	<div class="model-format">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
			    		<select ng-model="vm.modelYear" ng-options="x for x in vm.modelYears" class="form-control" ng-change="vm.onSearchChange()">
						</select>
					</div>
			    </div>
			    <div class="col-md-3">
				    <div class="form-group">
			    		<select ng-model="vm.makeType" ng-options="x for x in vm.makeTypes" class="form-control" ng-change="vm.onSearchChange()">
						</select>
					</div>
			    </div>
			    <div class="col-md-3">
			    	<div class="form-group">
			    		<select ng-model="vm.modelType" ng-options="x for x in vm.modelTypes" class="form-control" ng-change="vm.onSearchChange()">
						</select>
					</div>
			    </div>
			    <div class="col-md-3">
			    	<button class="btn btn-default" ui-sref="authenticate" ng-hide="vm.currentUser.email != ''">Log In</button>
			    	<button class="btn btn-danger" ui-sref="logout" ng-show="vm.currentUser.email != ''">Log out</button>
			    	<button class="btn btn-default" ui-sref="portal" ng-show="vm.currentUser.email != ''">Add Models</button>
			    </div>
		    </div>
		</div>
	</div>

	<div class="tb-portal">
		<div class="td-title">
			<div class="container">
				<div class="title-sysname">
					<p>Technology</p>
				</div>
				<div class="title-descr">
					<p>Deactivation Procedure</p>
				</div>
				<div class="title-img">
					<p>Images</p>
				</div>
				<div class="title-video">
					<p>Videos</p>
				</div>
			</div>
		</div>
		<div class="td-content">
			<div class="container">
				<div class="model" ng-repeat="model in vm.carModels">
					<div class="model-display">
						<div class="partial-sysname">
							<div class="td">
								<p>{{model.data.name}}</p>
							</div>
	 					</div>
						<div class="partial-descr">
							<div class="td">
								<p>{{model.data.description}}</p>
							</div>
						</div>
						<div class="partial-img">
							<div class="td">
								<div class="img-section">
									<img class="photo" ng-src="{{model.data.image}}">
			                    </div>
							</div>
						</div>
						<div class="partial-video">
							<div class="td section-video">
								<youtube-video video-url="model.data.video"></youtube-video>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>