<!-- MODAL CONTENT GOES HERE -->
<div class="popup-modal" role="dialog" aria-labelledby="notification-modal">
  <div class="modal-content">
    <div class="modal-body">
      <div class="form-group">
        <input class="form-control" type="text" ng-model="vm.modelName">
      </div>
      <button class="btn btn-primary" ng-click="vm.onAddModel()">Submit</button>
      <button class="btn btn-default" ng-click="vm.closeModal()">Cancel</button>
    </div>
  </div>
</div>
<!-- END MODAL CONTENT -->
